<div>
    <div class="container">
        <h2 class="text-center mt-3">Add Book</h2>
        <br />
        <form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="input-bookname">Book Name</label>
                <div class="col-sm-10">
                    <input type="text" id="bookname" name="bookName" #bookName="ngModel" [(ngModel)]="book.bookName"
                        class="form-control form-control-alternative" placeholder="Book Name" required />
                    <label class="text-danger"
                        *ngIf="(bookName.touched || form.submitted) && bookName.errors?.['required']">
                        Book name is required
                    </label>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="input-authorname">Author Name</label>
                <div class="col-sm-10">
                    <input type="text" id="authorname" name="authorName" #authorName="ngModel" [(ngModel)]="book.authorName"
                        class="form-control form-control-alternative" placeholder="Author Name" required />
                    <label class="text-danger"
                        *ngIf="(authorName.touched || form.submitted) && authorName.errors?.['required']">
                        Author name is required
                    </label>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="input-bookname">Quantity</label>
                <div class="col-sm-10">
                    <input type="text" id="quantity" name="quantity" #quantity="ngModel" [(ngModel)]="book.quantity"
                        class="form-control form-control-alternative" placeholder="Quantity" required />
                    <label class="text-danger"
                        *ngIf="(quantity.touched || form.submitted) && quantity.errors?.['required']">
                        Quantity is required
                    </label>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="input-price">Price</label>
                <div class="col-sm-10">
                    <input type="text" id="price" name="price" #price="ngModel" [(ngModel)]="book.price"
                        class="form-control form-control-alternative" placeholder="Price" required />
                    <label class="text-danger"
                        *ngIf="(price.touched || form.submitted) && price.errors?.['required']">
                        Price is required
                    </label>
                </div>
            </div>

            <div class="col-4 text-right">
                <button class="btn btn-primary" [disabled]="form.invalid">Add</button>
                <button type="button" class="btn btn-danger" routerLink="" style="margin-left: 10px;">Cancel</button>
            </div>
        </form>
    </div>
</div>