<div class="container">
    <h1 class="text-center mt-3"> Book List </h1>
    <a routerLink="/add-book" class="btn btn-primary mb-2" style="margin-top: 20px; width: 100px;">Add Book</a>
    <table class="table table-bordered">
        <thead>
            <tr class="tr-expand-md tr-dark bg-dark" style="color: white; font-size: 17px; text-align: center;">
                <th> Book Name </th>
                <th> Author Name </th>
                <th> Quantity </th>
                <th> Price </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr key={book.id}>
                <td style="padding-top: 15px; cursor: pointer"> bookName </td>
                <td style="padding-top: 15px; cursor: pointer"> authorName </td>
                <td style="padding-top: 15px; cursor: pointer"> quantity </td>
                <td style="padding-top: 15px; cursor: pointer"> price </td>
                <td>
                    <a routerLink="/edit-book/${book.id}" class="btn btn-success" style="width: 80px;">Update</a>
                    <button class="btn btn-danger" style="margin-left: 15px; width: 80px"> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>