<div class="container">
  <h1 class="text-center mt-3"> Book List </h1>
  <table class="table table-bordered">
    <thead>
      <tr class="tr-expand-md tr-dark bg-dark" style="color: white; font-size: 17px; text-align: center;">
        <th scope="col">Book Name</th>
        <th scope="col">Author Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody style="text-align: center;">

      <tr *ngFor="let book of bookList">
        <td style="padding-top: 15px; cursor: pointer;"> {{book.bookName}} </td>
        <td style="padding-top: 15px; cursor: pointer;"> {{book.authorName}} </td>
        <td style="padding-top: 15px; cursor: pointer;"> {{book.quantity}} </td>
        <td style="padding-top: 15px; cursor: pointer;"> {{book.price}} </td>
        <td>
          <button type="button" (click)="edit(book.id)" class="btn btn-primary mx-3" routerLink="/update">Edit</button>
          <router-outlet></router-outlet>
        </td>
        <td>
          <button (click)="delete(book.id)" class="btn btn-danger mx-3" routerLink="/">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>